.enemy {
    width: 100px;
    height: auto;
    position: absolute;
    display: block;
    opacity: 1;
    transition: all 100ms ease-in-out;
}

.enemy--big {
    width: 125px;
}

.enemy.enemy--hidden {
    opacity: 0.08;
}

.enemy.enemy--no-opacity.enemy--hidden {
    opacity: 0;
}

