.header {
    position: fixed;
    top: 1rem;
    left: 2rem;
    right: 2rem;
    z-index: 30;
}

.header__time-display {
    font-family: monospace;
    font-size: 2rem;
    color: lightyellow;
}

.header__time-display--wave {
    color: darkorange;
    animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}