.player {
    position: absolute;
    top: 20%;
    left: 10rem;
    display: flex;
    align-items: center;
}

.player__element {
    transition: all 100ms ease-in-out;
}

.player__element svg {
    width: 100px;
    height: 67px;
}

.player__light {
    transform-origin: left;
    transform: translate(0, 12px);
    transition: all 100ms ease-in-out;
}

.player__light svg {
    width: 30rem;
    height: 30rem;
}

.player__light.player__light--no svg {
    opacity: 0;
}